/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  @font-face {
    font-family: "BasePixel";
    src: url("/BasePixel-LowResolution.woff2");
  }
}

@layer utilities {
  .pixel-font {
    font-family: BasePixel;
  }
}

.color-picker .react-colorful {
  border: 1px solid black;
  width: 100%;
  height: 300px;
}

.color-picker .react-colorful__saturation {
  border-radius: 0;
}

.color-picker .react-colorful__saturation-pointer,
.color-picker .react-colorful__hue-pointer {
  border-radius: 0;
  width: 16px;
  height: 16px;
}

.color-picker .react-colorful__hue {
  height: 20px;
  border-radius: 0;
}

.styled-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #eaeaea #ffffff00;
  scrollbar-gutter: stable;
}
